<div class="queries clearfix">
    <div class="imgarea">
        <img src="<%- unescape(books[i].thumbnail) %>">
    </div>
    <div class="info">
        <h1><%- unescape(books[i].title) %></h1>
        <div class="extra">
            <ul class="extra-items">
                <% if(books[i].authors){ %>
                	<% JSON.parse(books[i].authors).forEach(function(author){ %>
                        	<span><%- author %></span><span>&middot;</span>
                    	<% }); %>
		<% } %>
                <span><%- unescape(books[i].publisher) %></span><span>&middot;</span>
                <span><%- unescape(books[i].published_date) %></span>
            </ul>
        </div>
        <p><%- unescape(books[i].description) %></p>
    </div>
</div>
<hr>
