<div class="queries clearfix">
    <div class="imgarea">
        <img src="<%- unescape(books[i].thumbnail) %>">
    </div>
    <div class="info">
        <h1><%- unescape(books[i].title) %></h1>
        <div class="extra">
            <ul class="extra-items">
                <% if(books[i].authors){ %>
                    <% JSON.parse(books[i].authors).forEach(function(author){ %>
                        <span><%- author %></span><span>&middot;</span>
                    <% }); %>
                <% } %>
                <li><%- unescape(books[i].publisher) %></li>
                <li><%- unescape(books[i].published_date) %></li>
            </ul>
        </div>
        <p><%- unescape(books[i].description) %></p>
    </div>
</div>
<hr>
